

.card-design{
    height:400px;
    margin-top:10%;
    margin-right:1%;
    
}

.fuf{
    height: 250px;
    border-radius: 5%;
}

.add{
    font-size: 20px;
    line-height: 40px;
    overflow-wrap: break-word;
    box-sizing: border-box;   
}

.adj{
    font-size: 40px;
}

.box_toggle{
    border:1px solid lightslategrey;
}

button:hover{
    background-color:rgb(70, 70, 216);
}

.zindex{
   margin-top: 5%;
   margin-left:3%;
   overflow: auto;
}