<mat-toolbar style=" position: fixed;z-index: 1;top: 0;left: 0; ">
  <div style="margin-left:7%;"></div>
  <img src="../../../assets/facebook_profile_image.png" width="55px" height="55px" alt="pic">
  <p style="margin-left:10px;">Pixshare</p>
</mat-toolbar>
<div fxLayout="row" >
  <div class="profile" fxFlex="20%" fxShow [fxShow.md]="false" [fxShow.xs]="false" fxFill [fxShow.sm]="false">
    <img src="../../../assets/captain.jpg" class="fuf" width="65%" alt="Profile pic">
    <div class="information">
      <div class="adj">Himansh</div>
      <br>
      <div fxLayout="column" class=box_toggle>
        <button mat-raised-button routerLink="home">Home</button>
        <button mat-raised-button routerLink="about">About</button>
        <button mat-raised-button routerLink="pics">Pic's</button>
        <button mat-raised-button routerLink="followers">Followers</button>
        <button mat-raised-button routerLink="following">Following</button>
      </div>
    </div>

  </div>
  <!-- Router Outlet for routing for home ,About ,Pic's, Followers and following -->
  <router-outlet>

  </router-outlet>
</div>