<div  fxLayout="column">

  <mat-toolbar style="z-index:1;position:fixed;" > 
    <img src="../../../assets/facebook_profile_image.png" width="55px" height="55px" alt="pic">
    <p style="margin-left:10px;">Pixshare</p>
  </mat-toolbar>


  <div fxFlexFill fxLayout="row"  fxFlexOffset.lg="5%" fxFlexOffset.md="5%" fxFlexOffset.xs="13%" fxFlexOffset.sm="10%">
        
    <div fxFlex="15" style="z-index:1;position:fixed;" fxLayout="column" fxLayoutGap="20px" fxShow [fxShow.md]="false"
      [fxShow.xs]="false"  [fxShow.sm]="false">

            <img src="../../../assets/captain.jpg" class="fuf" width="100%" alt="Profile pic">

            <div class="adj">Himanshu</div>

            <div fxLayout="column" class=box_toggle>
                  <button mat-raised-button routerLink="home">Home</button>
                  <button mat-raised-button routerLink="about">Upload</button>
                  <button mat-raised-button routerLink="pics">Pic's</button>
                  <button mat-raised-button routerLink="followers">Followers</button>
                  <button mat-raised-button routerLink="following">Following</button>
            </div>
    </div>


    <!-- Router Outlet for routing for home ,About ,Pic's, Followers and following -->
    <div fxFlex.lg="85" fxFlex.sm="100"  fxFlex.md="100" fxFlex.xs="100">
         <router-outlet>

         </router-outlet>
    </div>

  </div>

</div>